header{
    background-image: url('/static/images/boardgame_shelf.png');
    max-width: 100%;
    height: 235px;
    background-size: cover;
    background-position: 60px;
}

.logo{
    width: 40px;
    height: 40px;    
}

#logo_title{
    color: #17a2b8;
    text-shadow: 1.5px 1.5px 1px black;
    font-size: larger;
}

#banner{
    background-color:rgba(125, 145, 162, .75);
    border-top: 1px solid black;
    border-bottom: 2px solid #17a2b8;
    text-shadow: 2px 2px 1px black;
    
}

form #searchbar{
    opacity: 100%;
}


#about p{
    font-style: italic;
    font-size: 1.3rem;
}

#about{
    background-color:  #e0e8ef;
}

#about div{
    color: #17a2b8;
}


#about li{
    font-size: 1.25rem;
}

.sitefont{
    font-family: 'EB Garamond', serif;
}

#navbar{
    background-color:  #7d91a2;
    font-size: large;
}

ul i{
    color:#17a2b8
}

#card a{
    color: black;
}

#card a:hover{
    color: #17a2b8;
}

#query{
    color: #17a2b8;
    text-shadow: .75px .75px .25px black;
}

.profile{
    color: #17a2b8;
    font-weight: bold;
    font-size: x-large;
}

#gametitle{
    text-shadow: 1.5px 1.5px 1px black;
}

.gt_span{
    font-size: smaller;
}

.rowski{
    border-top: 1.5px solid black;
    border-bottom:1.5px solid black; 
    
}

#gamedeets{
    outline: 2px solid black;
}

.monkey{
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
     
}

.lickit{
    border-bottom: 1.5px solid black;
    border-left:  1.5px solid black;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
  }
  
.scrolling-wrapper img{
    display: inline-block;
    max-height: 350px;
}

#line{
    background-color: black;
    height: 1px;
}

.si {
    color: white
}

.si:hover{
    color: #17a2b8;
    text-decoration: none;
}

#pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

#cash{
    color:gold;
    text-shadow: 1px 1px .5px black;
    font-size: larger;

}

#nextpage{
    font-size: larger;
    color: rgb(55, 55, 56);
    
}

#nextpage:hover{
    color: #17a2b8;
    text-shadow: 2px 2px 1px black;
}

#cbod{
    background-color: #a6b8ca
}