{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 bg-dark rounded p-3 sitefont" id="gamedeets">
    <div class="row mt-3 rowski">
        <div class="col">
    <div class="card bg-dark mb-3" >
        <div class="row no-gutters">
          <div class="col-md-4 lickit">
            <img src="{{data['games'][0]['thumb_url']}}" width="300px" height="350px" class="rounded border border-dark" >
          </div>
          <div class="col-md-8 monkey">
            <div class="card-body bg-dark m-2 rounded billy">
              <h2 id="gametitle" class="card-title font-weight-bold text-white">{{data['games'][0]['name']}}:
                <span class="text-info gt_span"> {% if data['games'][0]['year_published']%}({{ data['games'][0]['year_published']}}){% endif %}</span> </h2>
                <div id="accordion">
                    <div class="card bg-dark">
                      <div id="headingOne" class="border border-dark rounded">
                        <h5 class="mb-0">
                          <button class="btn btn-link text-info" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            See description
                          </button>
                        </h5>
                      </div>
                      <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p class="card-text text-white">{{data['games'][0]['description_preview']}}</p>
                        </div>
                      </div>
                    </div>
            </div>
            <hr> <div><p class="text-light">Players: {{data['games'][0]['players']}}  | &nbsp;  Time: {{data['games'][0]['playtime']}} min  &nbsp; | &nbsp;  
                 Age: {{data['games'][0]['min_age']}}+   &nbsp; </p>
          </div>
          <p class=" text-white text-left">Designer: <span class="text-light">{% if data['games'][0]['primary_designer']%} 
            {{data['games'][0]['primary_designer']['name']}} {% endif %}</span></p>
          <p class=" text-white text-left">Publisher: <span class="text-light">{% if data['games'][0]['primary_publisher'] %} {{data['games'][0]['primary_publisher']['name']}} {% endif %}</span></p>
          
          <a href="/games/add_game/{{data['games'][0]['id']}}" class="si"><i class="fa-regular fa-flag mt-3"></i> <span class=""> &nbsp; Add to collection  &nbsp;|&nbsp;</span></a>
          <a href="" class="si"><i class="fa-regular fa-heart"></i><span > &nbsp; Add to wishlist  &nbsp;| &nbsp;</span></a> 
          <a href="" class="si"><i class="fa-regular fa-pen-to-square"></i> <span > &nbsp; Add playlog &nbsp;|&nbsp;</span></a>
          <a href="" class="si"><i class="fa-solid fa-magnifying-glass-dollar"></i> <span> &nbsp; Get used value &nbsp;</span></a>

        </div>
      </div>
    </div>
    </div>
  </div>
 </div>
</div>

<div class="container bg-dark rounded p-3" id="gamedeets">
  <h3 id="gametitle" class="sitefont font-weight-bold text-white">Images:&nbsp;<span class="text-info">{{images['count']}}</h3></span> <hr id="line">
<div class="scrolling-wrapper">
  {% for image in images['images']%}
 <a href="{{image['url']}}"> <img class="border border-dark" src="{{image['medium']}}" alt=""> </a>
  {% endfor %}
</div>
</div>
<div class="container bg-dark rounded p-3" id="gamedeets">
  <h3 id="gametitle" class="sitefont font-weight-bold text-white">Videos:&nbsp;<span class="text-info"></h3></span> <hr id="line">
<div class="scrolling-wrapper">
  {% for video in videos['videos']%}
 <a href="{{video['url']}}"><img class="border border-dark" src="{{video['image_url']}}" alt=""></a> 
  {% endfor %}
</div>
</div>
<div class="container bg-dark rounded p-3 mb-5" id="gamedeets">
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col" class="text-info">GAME DETAILS</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Year Published</th>
      <td class="text-light">{{data['games'][0]['year_published']}}</td>
    </tr>
    <tr>
      <th scope="row">Number of Players</th>
      <td class="text-light">{{data['games'][0]['players']}}</td> 
    </tr>
    <tr>
      <th scope="row">Playtime</th>
      <td class="text-light">{{data['games'][0]['playtime']}}</td>
    </tr>
    <tr>
      <th scope="row">Minimum Age</th>
      <td class="text-light">{{data['games'][0]['min_age']}}</td>
    </tr>
    <tr>
      <th scope="row">Mechanics</th>
      <td class="text-light"></td>
    </tr>
    <tr>
      <th scope="row">Categories</th>
      <td class="text-light"></td>
    </tr>
    <tr>
      <th scope="row">Official Site</th>
      <td><a class="si" href="{{data['games'][0]['official_url']}}">{{data['games'][0]['official_url']}}</a> </td>
    </tr>
    <tr>
      <th scope="row">Rules</th>
    <td><a class="si" href="{{data['games'][0]['rules_url']}}">{{data['games'][0]['rules_url']}}</a></td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}