{% extends 'base.html'%}
{% block title %}The Boardgame Shelf{% endblock %}
{% block header %} 
<header>
    <div class="container-fluid text-center" id="banner"><h1 class="display-4 font-weight-bold text-white sitefont">The Boardgame Shelf</h1>
    </div>
    <div class="container mt-5">
      <form action="/search">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn border border-dark btn-info sitefont" type="submit" id="button-addon1">Search</button>
          </div>
          <input type="text" name="search" class="form-control form-control-lg border border-dark sitefont" placeholder=" Search Board Games (submitting an empty search will return 'most popular' games )">
        </div></form></div>
  </header>
{% endblock %}
    {% block content %}
<div class="container my-5 p-3 border border-dark rounded sitefont" id="about"> <h2 class="text-center">Welcome to the Boardgame Shelf</h2>
<p class="text-center">A board game collection management app</p>

<ul class="list-group list-group-flush border border-dark rounded m-3">
    <li class="list-group-item"><i class="fa-solid fa-check"></i> Store your boardgame collection</li>
    <li class="list-group-item"><i class="fa-solid fa-check"></i> View detailed information on all of your games</li>
    <li class="list-group-item"><i class="fa-solid fa-check"></i> Get an estimated value of your games or collection</li>
    <li class="list-group-item"><i class="fa-solid fa-check"></i> Record playlogs of play sessions for all your games</li>
    <li class="list-group-item"><i class="fa-solid fa-check"></i> Create a wishlish with automatic price alerts</li>
    
</ul>
<div class="lead text-center font-weight-normal" >Start searching to get started!</div>
</div>

    {% endblock %}