{% extends 'base.html' %}
{% block title %}Search Results{% endblock %}
{% block content %}
<div class="container-fluid bg-light"> <div class="container"><form action="/search">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn border border-dark btn-info sitefont" type="submit" id="button-addon1">Search</button>
      </div>
      <input type="text" name="search" class="form-control form-control-lg border border-dark sitefont" placeholder=" Search Board Games">
    </div></form></div> 
<h3 class=" display-5 text-center text-align-center sitefont mb-3 pt-2 pl-2 font-weight-bold">Search Results:<span id="query" class="ml-2">"{{query}}"</span></h3><hr></div>
<div class="container">
<div class="row justify-content-between">
{% for game in data['games']%}
<div class="col-3"><div class="card p-2 bg-light my-1 border border-dark" id="card" >
    <a href="/search/{{game['id']}}/game_details" id="searchlink"> <img src="{{game['thumb_url']}}" width="287px" height="287px"  class="card-img-top border border-info">
    <div class="card-body">
     <h5 class="card-title">{{game['name']}}</h5>
      <p class="card-text"><i class="fa-solid fa-user-group"></i> {{game['players']}} <i class="fa-regular fa-clock"></i> {{game['playtime']}}</p> </a> 
    </div>
  </div></div>

{% endfor %}
</div>
{% if data['games'] | length == 30 %}
 <a href="/search" id="nextpage"><div class="container text-center my-4 sitefont"><i class="fa-solid fa-angles-right"> Next Page &nbsp;</i><i class="fa-solid fa-angles-right"></i></div></a> 
{% endif %}
</div>
{% endblock %}
