{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 sitefont">
    <div class="row">
        <div class="col-4 border border-dark bg-dark p-3 rounded"> <div class="card bg-light" >
            <img class="card-img-top border border-dark" src="{{g.user.header_image_url}}" width="250" height="100px">
            <div class="card-body">
              <div class="row">
             <div class="col-4"> <img class="border border-dark" src="{{g.user.image_url}}" id="pic" alt=""></div> <div class="col-8"><a class="text-info" href="/users/{{g.user.id}}/profile"><h4 class="card-title text-center mr-2 mt-3" id="query">{{g.user.username}}</h4></a> </div> </div> <hr class="bg-dark">
              <div class="row text-center p-0">
              <div class="col-4 p-0">Games
                <p class="text-info">243</p>
            </div>
            <div class="col-4 p-0">Wishes
                <p class="text-info">32</p>
            </div>
            <div class="col-4 p-0">Playlogs
                <p class="text-info">16</p>
            </div>
            </div>
          </div>
          </div> </div>
        <div class="col-8 bg-dark rounded"> 
          <table class="table table-dark">
            <thead class="thead-dark border border-dark">
              <tr>
                <th scope="col" class="">Id</th>
                <th scope="col" class="">Thumbnail</th>
                <th scope="col" class="">Name</th>
                <th scope="col" class="">Your Rating</th>
                <th scope="col" class="">Comments</th>
                <th scope="col" class="">Used Value</th>
              </tr>
            </thead>
            <tbody><tr>
              <th scope="row" class="border border-secondary">1</th>
              <td class="border border-secondary"><img src="https://s3-us-west-1.amazonaws.com/5cc.images/games/uploaded/1629324722072.jpg" height="60px" width="60px"></td>
              <td class="border border-secondary">Catan</td>
              <td class="border border-secondary"> 7.5</td>
              <td class="border border-secondary">Wood and sheep jokes abound</td>
              <td class="border border-secondary">$56</td>

            </tr></tbody>
          </table>
        </div>
    </div>
</div>
{% endblock %}