{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 sitefont">
    <div class="row">
        <div class="col-4 border border-dark bg-dark p-3 rounded"> <div class="card bg-light" >
            <img class="card-img-top border border-dark" src="{{g.user.header_image_url}}" width="250" height="100px">
            <div class="card-body">
              <div class="row">
             <div class="col-4"> <img class="border border-dark" src="{{g.user.image_url}}" id="pic" alt=""></div> <div class="col-8"><a class="text-info" href="/users/{{g.user.id}}/profile"><h4 class="card-title text-center mr-2 mt-3" id="query">{{g.user.username}}</h4></a> </div> </div> <hr class="bg-dark">
              <div class="row text-center p-0">
              <div class="col-4 p-0">Games
                <p class="text-info">{{g.user.games | length }}</p>
            </div>
            <div class="col-4 p-0">Wishes
                <p class="text-info">{{g.user.wishes | length }}</p>
            </div>
            <div class="col-4 p-0">Playlogs
                <p class="text-info">{{g.user.playlogs | length }}</p>
            </div>
            </div>
          </div>
          </div> </div>
        <div class="col-8 bg-dark rounded"> 
          <table class="table table-dark">
            <thead class="thead-dark border border-dark">
              <tr>
                
                <th scope="col" class=""></th>
                <th scope="col" class="">Name</th>
                <th scope="col" class="">Your Rating</th>
                <th scope="col" class="">Comments</th>
                <th scope="col" class="">Used Value</th>
                <th scope="col" class=""></th>
                
              </tr>
            </thead>
            <tbody>
              {% for game in g.user.games %}
              <tr>
              
              <td class="border border-secondary"><a href="/search/{{game.id}}/game_details"><img src="{{game.thumb_url}}" height="70px" width="60px"></a> </td>
              <td class="border border-secondary"><a class="si" href="/search/{{game.id}}/game_details">{{game.name}}</a> </td>
              <td class="border border-secondary"><a class="si" href="">{{game.rating}}</a></td>
              <td class="border border-secondary"><a class="si" href="">{{game.comments}}</a> </td>
              <td class="border border-secondary"><a class="si" href=""> {{game.used_value}}</a></td>
              <td class="border border-secondary"><a class="si" href="/users/remove_game/{{game.id}}"> <button class="btn btn-danger btn-sm">Remove</button></a></td>

            </tr>{% endfor %}
          </tbody>
          </table>
        </div>
    </div>
</div>
{% endblock %}