{% extends 'base.html' %}
{% block content %}

{% if g.user.playlogs | length == 0 %}
<h3 class="text-center display-5 sitefont mt-5">No playlogs currently added, click 'add playlog' on any game's detail page or from within your collection to get started!</h3>
{% else %}
<h3 class="text-info text-center mt-3" id="query">{{g.user.username}}'s playlogs</h3>
{% endif %}

{% for playlog in g.user.playlogs %}

<div class="container my-4">
<div class="card text-center sitefont">
  <div class="card-header bg-dark p-3">
     <h4 class=" font-weight-bold text-white">Game: <span id="query">{{playlog.game}}</span></h4>
  </div>
  <div class="card-body bg-light">
    <h5 class="card-title font-weight-bold"> Date of play session:&nbsp;<span id="query">{{playlog.date_of_playthrough}}</span>
      &nbsp; &nbsp; Location: <span class="font-weight-normal">&nbsp;{{playlog.location}}</span> </h5>
    <table class="table table-striped rounded bg-white">
      <thead >
         <th scope="col">Player #</th>
         <th scope="col">Name</th>
         <th scope="col">Score</th>
     </thead>
     <tbody>
 {% for player in players if player.playlog_id == playlog.id %}
     <tr>
      <th scope="row">{{player.player_id}}</th>
      <td>{{player.player_name}}</td>
      <td>{{player.player_score}}</td>
     </tr>
 {% endfor %}
</tbody>
</table>
<h5 class=""></h5> 
<p class="lead font-weight-bold text-left mx-3">Notes:&nbsp; <span class="font-weight-normal">{{playlog.notes}}</span> </p>

  </div>
  <div class="card-footer text-muted bg-dark">
   <form action="/playlogs/remove_log/{{playlog.id}}" method="POST">
     <button type="submit" class="btn btn-danger btn-sm mx-5">Delete log</button>
   </form>
  </div>
</div>
</div>
{% endfor %}
{% endblock %}